DVDの中身/Node-REDについて/flows.json
[
    {
        "id": "c574138408823582",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "457e9b2b0792f56f",
        "type": "tab",
        "label": "フロー 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "88955088130b3587",
        "type": "sqlitedb",
        "db": "/opt/sqlite/tool/test3.db",
        "mode": "RO"
    },
    {
        "id": "9adf240d8525974b",
        "type": "ui_tab",
        "name": "筋電モニター",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fc70a58696873302",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#ebd700",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#ebd700",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ebd700",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffee38",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ebd700",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED ダッシュボード",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2b57b426a8d77bad",
        "type": "sqlitedb",
        "db": "/opt/sqlite/tool/test6.db",
        "mode": "RO"
    },
    {
        "id": "23999a5a992bcb04",
        "type": "sqlitedb",
        "db": "/opt/sqlite/tool/test4.db",
        "mode": "RO"
    },
    {
        "id": "62e4de27b84aadad",
        "type": "ui_group",
        "name": "リセット",
        "tab": "9adf240d8525974b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af59920b4e57edf7",
        "type": "sqlitedb",
        "db": "/opt/sqlite/tool/test5.db",
        "mode": "RO"
    },
    {
        "id": "7396a9c05653dfca",
        "type": "sqlitedb",
        "db": "/opt/sqlite/tool/28800.db",
        "mode": "RO"
    },
    {
        "id": "191cfe30fd3233cc",
        "type": "sqlitedb",
        "db": "",
        "mode": "RWC"
    },
    {
        "id": "d90bfe8c4c68dfe6",
        "type": "sqlitedb",
        "db": "/opt/sqlite/tool/38400.db",
        "mode": "RO"
    },
    {
        "id": "83e3c3e2a083c60b",
        "type": "sqlitedb",
        "db": "/opt/sqlite/tool/48000.db",
        "mode": "RO"
    },
    {
        "id": "f1fc02f2fe508790",
        "type": "sqlitedb",
        "db": "/opt/sqlite/tool/finished.db",
        "mode": "RO"
    },
    {
        "id": "3f4460299bca1df9",
        "type": "sqlite",
        "z": "c574138408823582",
        "mydb": "23999a5a992bcb04",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "hands",
        "x": 150,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a6e79caf83d198f6",
        "type": "debug",
        "z": "c574138408823582",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "3a08aae8be25f4c2",
        "type": "inject",
        "z": "c574138408823582",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select Va, Vb, Timestamp from hands order by id limit 100; -- desc limit 100;",
        "x": 590,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "679471fa6ce88558",
        "type": "ui_chart",
        "z": "c574138408823582",
        "name": "",
        "group": "62e4de27b84aadad",
        "order": 2,
        "width": "5",
        "height": "5",
        "label": "開く筋電位",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss.sss",
        "interpolate": "linear",
        "nodata": "ここにグラフが表示されます。",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d72828",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 180,
        "wires": [
            []
        ],
        "info": "# テスト\n"
    },
    {
        "id": "3c8685c0a6d2fd9f",
        "type": "function",
        "z": "c574138408823582",
        "name": "function 1",
        "func": "//var enabled = flow.get(\"PLOT_DASHBOARD\");\n//if (enabled){\n//flow.payload={\n//    1: \"閉じる\",\n//    2: \"開く\",\n//    3: \"止まる\"\n//}\n\n    for (var i=0; i < msg.payload.length; i++){\n        var ts = new Date(msg.payload[i].Timestamp)\n        var temMsg1 = {\n            payload: msg.payload[i].Va,\n            timestamp: ts\n        }\n        temMsg1.topic='Va';\n        node.send(temMsg1);\n        \n        var temMsg2 = {\n            payload: msg.payload[i].Vb,\n            timestamp: ts\n        }\n        temMsg2.topic='Vb';\n        node.send(temMsg2)\n        \n//var close = flow.payload(\"閉じる\");\n//var open = flow.payload(\"開く\");\n//var stop = flow.payload(\"止まる\");\n\n        if(temMsg1>temMsg2)\n        {\n            node.send(close);\n        }\n        if(temMsg1<temMsg2)\n        {\n            node.send(open)\n        }\n        if(temMsg1==temMsg2)\n        {\n            node.send(stop)\n        }\n    }\n//}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 3,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\n0",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 320,
        "wires": [
            [
                "efc3e99f54eed9cd"
            ]
        ]
    },
    {
        "id": "5baa720f3125b4b8",
        "type": "debug",
        "z": "c574138408823582",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "daac2add70073714",
        "type": "ui_button",
        "z": "c574138408823582",
        "name": "",
        "group": "62e4de27b84aadad",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "リセット",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "95693784393609fe",
                "9eaa0aee6e65512d"
            ]
        ]
    },
    {
        "id": "95693784393609fe",
        "type": "function",
        "z": "c574138408823582",
        "name": "function 2",
        "func": "msg.payload=[];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            [
                "679471fa6ce88558",
                "abe3e2b6d07aa7f3"
            ]
        ]
    },
    {
        "id": "9912adbb08bf52fc",
        "type": "function",
        "z": "c574138408823582",
        "name": "function 3",
        "func": "    for (var i=0; i < msg.payload.length; i++){\n        var ts = new Date(msg.payload[i].Timestamp)\n        var temMsg = {\n            payload: msg.payload[i].Vb,\n            timestamp: ts\n        }\n        node.send(temMsg);\n    }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "abe3e2b6d07aa7f3",
        "type": "ui_chart",
        "z": "c574138408823582",
        "name": "",
        "group": "62e4de27b84aadad",
        "order": 3,
        "width": "5",
        "height": "5",
        "label": "閉じる筋電位",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss.sss",
        "interpolate": "linear",
        "nodata": "ここにグラフが表示されます",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "efc3e99f54eed9cd",
        "type": "switch",
        "z": "c574138408823582",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Va",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Vb",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "679471fa6ce88558"
            ],
            [
                "abe3e2b6d07aa7f3"
            ],
            [
                "27336034cbf01446"
            ]
        ]
    },
    {
        "id": "5d4665680faaea48",
        "type": "inject",
        "z": "c574138408823582",
        "d": true,
        "name": "test2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from (select * from hands order by id desc limit 10 ) as A order by id;",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "446989114e61a99a",
        "type": "inject",
        "z": "c574138408823582",
        "name": "test3",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from (select * from hands order by id desc limit 700 ) as A order by id;",
        "x": 590,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "27336034cbf01446",
        "type": "ui_template",
        "z": "c574138408823582",
        "group": "62e4de27b84aadad",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"flow.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d6a1eaf686fbbedc",
        "type": "sqlite",
        "z": "c574138408823582",
        "mydb": "af59920b4e57edf7",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "test5",
        "x": 530,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "8cff45339574c01c",
        "type": "inject",
        "z": "c574138408823582",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select Va, Vb, Timestamp from hands order by id limit 100; --select * from (select * from hands order by id desc limit 100 ) as A order by id;",
        "x": 590,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b05cdbd8e3848863",
        "type": "inject",
        "z": "c574138408823582",
        "d": true,
        "name": "test6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "select * from (select * from hands order by id desc limit 10) as A order by id;",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "6678ea9f3f0c90df"
            ]
        ]
    },
    {
        "id": "da820ca2e885c3fe",
        "type": "sqlite",
        "z": "c574138408823582",
        "mydb": "2b57b426a8d77bad",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "19200",
        "x": 150,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f0e7a29208adf542",
        "type": "sqlite",
        "z": "c574138408823582",
        "mydb": "7396a9c05653dfca",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "28800",
        "x": 150,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b2524201ab9a5362",
        "type": "sqlite",
        "z": "c574138408823582",
        "mydb": "d90bfe8c4c68dfe6",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "38400",
        "x": 350,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9c559a81863b1e26",
        "type": "sqlite",
        "z": "c574138408823582",
        "mydb": "83e3c3e2a083c60b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "48000",
        "x": 390,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "6678ea9f3f0c90df",
        "type": "sqlite",
        "z": "c574138408823582",
        "mydb": "f1fc02f2fe508790",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "finished",
        "x": 80,
        "y": 320,
        "wires": [
            [
                "3c8685c0a6d2fd9f"
            ]
        ]
    },
    {
        "id": "9eaa0aee6e65512d",
        "type": "ui_webcam",
        "z": "c574138408823582",
        "d": true,
        "name": "",
        "group": "62e4de27b84aadad",
        "order": 7,
        "width": 0,
        "height": 5,
        "countdown": false,
        "autoStart": true,
        "hideCaptureButton": false,
        "showImage": "2",
        "mirror": true,
        "format": "png",
        "x": 240,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e87a64d08f0b8d89",
        "type": "sqlite",
        "z": "457e9b2b0792f56f",
        "mydb": "23999a5a992bcb04",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "hands",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "5876d269a56a1a09"
            ]
        ]
    },
    {
        "id": "503c8ded73eea667",
        "type": "ui_chart",
        "z": "457e9b2b0792f56f",
        "name": "",
        "group": "62e4de27b84aadad",
        "order": 2,
        "width": "5",
        "height": "5",
        "label": "開く筋電位",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss.sss",
        "interpolate": "linear",
        "nodata": "ここにグラフが表示されます。",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d72828",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 160,
        "y": 440,
        "wires": [
            []
        ],
        "info": "# テスト\n"
    },
    {
        "id": "5876d269a56a1a09",
        "type": "function",
        "z": "457e9b2b0792f56f",
        "name": "function 4",
        "func": "//var enabled = flow.get(\"PLOT_DASHBOARD\");\n//if (enabled){\n//flow.payload={\n//    1: \"閉じる\",\n//    2: \"開く\",\n//    3: \"止まる\"\n//}\n\n    for (var i=0; i < msg.payload.length; i++){\n        var ts = new Date(msg.payload[i].Timestamp)\n        var temMsg1 = {\n            payload: msg.payload[i].Va,\n            timestamp: ts\n        }\n        temMsg1.topic='Va';\n        node.send(temMsg1);\n        \n        var temMsg2 = {\n            payload: msg.payload[i].Vb,\n            timestamp: ts\n        }\n        temMsg2.topic='Vb';\n        node.send(temMsg2)\n        \n//var close = flow.payload(\"閉じる\");\n//var open = flow.payload(\"開く\");\n//var stop = flow.payload(\"止まる\");\n\n        if(temMsg1>temMsg2)\n        {\n            node.send(close);\n        }\n        if(temMsg1<temMsg2)\n        {\n            node.send(open)\n        }\n        if(temMsg1==temMsg2)\n        {\n            node.send(stop)\n        }\n    }\n//}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 3,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\n0",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 260,
        "wires": [
            [
                "a653072304cc0ba3"
            ]
        ]
    },
    {
        "id": "2c2f598a53e2a28a",
        "type": "ui_button",
        "z": "457e9b2b0792f56f",
        "name": "",
        "group": "62e4de27b84aadad",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "リセット",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "f62149200c274f28"
            ]
        ]
    },
    {
        "id": "f62149200c274f28",
        "type": "function",
        "z": "457e9b2b0792f56f",
        "name": "function 5",
        "func": "msg.payload=[];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "503c8ded73eea667",
                "83fae3a06f875282"
            ]
        ]
    },
    {
        "id": "83fae3a06f875282",
        "type": "ui_chart",
        "z": "457e9b2b0792f56f",
        "name": "",
        "group": "62e4de27b84aadad",
        "order": 3,
        "width": "5",
        "height": "5",
        "label": "閉じる筋電位",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss.sss",
        "interpolate": "linear",
        "nodata": "ここにグラフが表示されます",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 170,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a653072304cc0ba3",
        "type": "switch",
        "z": "457e9b2b0792f56f",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Va",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Vb",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "503c8ded73eea667"
            ],
            [
                "83fae3a06f875282"
            ],
            []
        ]
    },
    {
        "id": "55b0a45ba9bd6ef2",
        "type": "inject",
        "z": "457e9b2b0792f56f",
        "d": true,
        "name": "test2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from (select * from hands order by id desc limit 10 ) as A order by id;",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "e87a64d08f0b8d89"
            ]
        ]
    }
]